<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'openid', :plugin => 'redmine-openid-selector' %>
    <%= javascript_include_tag 'openid', :plugin => 'redmine-openid-selector' %>
    <%= javascript_include_tag 'openid-selector/js/openid-en', :plugin => 'redmine-openid-selector' %>
    <script type="text/javascript">
            document.observe('dom:loaded', function() {
                openid.img_path = "<%= relative_root %>plugin_assets/redmine-openid-selector/javascripts/openid-selector/images/";
                openid.init('openid_url');
            });
    </script>
<% end %>

		<br />

		<table class="box openid-selector">
			<tbody id="openid_choice"> 
			<tr>	<td>Please click your account provider:</td> </tr>
			<tr>	<td id="openid_btns"></td> </tr>
			<tr id="openid_input_area"><td></td></tr>
			</tbody>
		</table>
